@font-face {
  font-family: "TTCommons-Black";
  src: url(font/TTCommons-Black.ttf), url(font/TTCommons-Black.eot),
    url(font/TTCommons-Black.woff);
}
@font-face {
  font-family: "TTCommons-Light";
  src: url(font/TTCommons-Light.ttf), url(font/TTCommons-Light.eot),
    url(font/TTCommons-Light.woff);
}
@font-face {
  font-family: "TTCommons-Medium";
  src: url(font/TTCommons-Medium.eot), url(font/TTCommons-Medium.ttf),
    url(font/TTCommons-Medium.woff);
}
@font-face {
  font-family: "TTCommons-Bold";
  src: url(font/TTCommons-Bold.eot), url(font/TTCommons-Bold.ttf),
    url(font/TTCommons-Bold.woff);
}
@font-face {
  font-family: "TTCommons-Regular";
  src: url(font/TTCommons-Regular.eot), url(font/TTCommons-Regular.ttf),
    url(font/TTCommons-Regular.woff);
}

:root {
  --main-bg-color: #2e2e33;
  --font-bold: "TTCommons-Bold";
  --font-light: "TTCommons-Light";
  --font-black: "TTCommons-Black";
  --font-medium: "TTCommons-Medium";
  --font-regular: "TTCommons-Regular";
  --transition: opacity 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.button {
  color: #fff;
  background-color: #000;
  padding: 16px 32px 13px;
  font-family: var(--font-bold);
  font-size: 12px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}
.button:hover {
  color: #000;
  background-color: transparent;
  border-color: #000;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.header-right {
  display: flex;
}
.lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-medium);
}
.lang-item.active {
  font-family: var(--font-bold);
}
.lang-item {
  transition: var(--transition);
  cursor: pointer;
}
.lang-item:first-child {
  margin-right: 5px;
}
.lang-item:last-child {
  margin-left: 5px;
}
ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  font-weight: inherit;
  font-size: 14px;
}
.nav-link {
  position: relative;
}

.nav-link:active::before,
.nav-link:focus::before {
  opacity: 1;
}
.nav-link::before {
  background-image: url(img/treangle-mini.svg);
  content: "";
  width: 8px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 120%;
}

.font-bold {
  font-family: var(--font-bold);
}
.font-regular {
  font-family: var(--font-regular);
}
a {
  text-decoration: none;
  color: var(--main-bg-color);
  font-family: var(--font-medium);
}
.logo {
  display: inline-block;
  width: 15%;
}

.triangle {
  z-index: -2;
  position: absolute;
  left: 770px;
  bottom: -100px;
  width: 50%;
}
.title {
  font-size: 50px;
  font-family: var(--font-black);
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 20px;
}
.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 60px;
}

.main-content {
  display: flex;
  height: 100vh;
}
.text {
  font-family: TTCommons-light;
  line-height: 27px;
  letter-spacing: 0.4px;
  margin-bottom: 50px;
}
.scroll-down {
  width: 40px;
  position: absolute;
  margin-left: 500px;
  cursor: pointer;
  bottom: 25px;
  background: url(./img/Scroll-dovn.svg) center no-repeat;
  background-size: cover;
  height: 35px;
}
section {
  height: 100vh;
}
.self-start {
  align-self: flex-start;
}

.section-img {
  max-width: 666px;
  width: 100%;
  height: auto;
}
